.footer-subscribe__title{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 13px;
    font-size: rem(12px);
}

.footer-subscribe__description{
    margin-bottom: 23px;
}