.page-footer_theme_simple{

    padding: 100px 0 110px;

    .page-footer__company-info-container{
        width: 560px;
        margin-bottom: 28px;

        @media (max-width: $tableWidth){
            width: 90%;
        }
    }

    .page-footer__wrapper{
        flex-direction: column;
        align-items: center;
    }

}