@import "utils/libs";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  letter-spacing: -0.1px;

  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;


  @media screen and (max-width: $desktopWidth) {
    /*font-size: 16px;*/
  }
  @media screen and (max-width: $tableWidth) {
    /*font-size: 15px;*/
  }
  @media screen and (max-width: $phoneWidth) {
    /*font-size: 14px;*/
  }
}

body {
  margin: 0;
  padding: 0;
}

input,
button{
  font-family: $mainFont;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { 
  margin: 0; 
  color: $headerFontColor;
}

h1, h2{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
}

h1{
  font-size: 24px;
  line-height: 30px;
}

h2{
  font-size: 19px;
  line-height: 24px;
}

h3{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}




section, .section {
  position: relative;

  @media screen and (max-width: $desktopWidth) {

  }
  @media screen and (max-width: $desktopWidth) {

  }
  @media screen and (max-width: $desktopWidth) {

  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.flex{
  display: flex;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.content-col{
  width: 320px;
}


.table{
  display: table;
}

.t-row{
  display: table-row;
}

.t-cell{
  display: table-cell;
}

.t-col{
  display: table-column;
}

%form-elem-label{
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  color: $darkShade100;
  font-size: 0.87rem;
}

%form-input-label{
  color: $darkShade50;
  font-weight: 100;
  position: relative;
  padding-left: 30px;
  display: inline-block;
  line-height: 18px;

  &:hover{
      cursor: pointer;
  }
}

%form-input-checkmark{
    position: absolute;
    display: flex;
    @include size(20px);
    border: 1px solid $darkShade25;
    border-radius: 4px;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

// Modules
// @import "modules/my-module.scss";
@import "../../blocks/blocks.scss";