mixin ui_kit_color(title, subtitle, color_value)
    - var style_val = 'background: ' + color_value;
    .ui-kit-color
        .ui-kit-color__color-rect(style= style_val)
        h2.ui-kit-color__color-title= title
        .ui-kit-color__color-value= subtitle