mixin ui_kit_color(title, subtitle, color_value)
    - var style_val = 'background: ' + color_value;
    .ui-kit-color
        .ui-kit-color_color-rect(style= style_val)
        .ui-kit-color_color-title= title
        .ui-kit-color_color-value= subtitle