include ../form-label/form-label
include ../form-input/form-input

mixin form-datepicker(obj)
    -
        var mode = obj.mode ? obj.mode : 'separate'; // separate; filter; card
        var dateFormat = mode=='filter' ? 'dd M' : 'dd.mm.yyyy';
        var label = obj.label ? obj.label : '';
        var labelFrom = obj.labelFrom ? obj.labelFrom : label;
        var labelTo = obj.labelTo ? obj.labelTo : '';
        var values = obj.values ? obj.values : [];
        
        var inputFromValue = values[0] ? values[0] : '';
        var inputToValue = values[1] ? values[1] : '';
        var valuesStr = values.join(',');

    .form-datepicker
        if mode=='filter'
            .form-datepicker__input-container
                .form-datepicker__input-range
                    +form-label({text: label})
                    +form-input({iconID: 'expand_more', value: inputValue})
        else if mode=='separate'
            .form-datepicker__input-container
                .form-datepicker__input-from
                    +form-label({text: labelFrom})
                    +form-input({placeholder: 'ДД.ММ.ГГГГ', mode: 'mask', mask: '99.99.9999', iconID: 'expand_more', value: inputFromValue})
                .form-datepicker__input-to
                    +form-label({text: labelTo})
                    +form-input({placeholder: 'ДД.ММ.ГГГГ', mode: 'mask', mask: '99.99.9999', iconID: 'expand_more', value: inputToValue})
        
        div(
            class="form-datepicker__container"+(mode=='card' ? ' form-datepicker__container_visible' : ''),
            data-date-format=dateFormat, 
            data-values=valuesStr,
            data-mode=mode
        )
