.footer-nav-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $phoneWidth){
        justify-content: center;
    }
}

.footer-nav-menu__column{
    width: 33%;

    @media (max-width: $phoneWidth){
        width: 49%;
        margin-bottom: 20px;
        text-align: center;
    }
}

.footer-nav-menu__column-header{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 13px;
    font-size: rem(12px);
}

.footer-nav-menu__list-item{
    margin-bottom: 14px;

    &:last-child{
        margin-bottom: 0;
    }
}

.footer-nav-menu__item-link{
    color: $darkShade50;
}