.form-label{
    //@extend %form-elem-label;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: $darkShade100;
    font-size: 0.87rem;
    align-items: baseline;
}

.form-label__text-header{
    text-transform: none;
}

.form-label__text{
    text-transform: uppercase;
}

.form-label__hint{
    font-weight: 100;
    color: $darkShade50;
    white-space: nowrap;

    &.form-label__hint_uppercase{
        text-transform: uppercase;
    }

    &.form-label__hint_size_medium{
        font-size: rem(14px);
    }

    @media (max-width: $phoneWidth){
        display: none;
    }
}

.form-label__icon{
    color: $darkShade50;
    margin-right: 9px;
}