.form-checkbox_mode_toggle{

    .form-checkbox__checkmark{
        border-radius: 10px;
        width: 40px;
        flex-direction: column;
    }

    .form-checkbox__checkmark::before{
        content: '';
        display: block;
        border-radius: 50%;
        margin: 0 3px;
        @include size(12px);
    }

    .form-checkbox__input:not(:checked) + .form-checkbox__checkmark::before{
        background: $darkShade25;
        align-self: flex-start;
    }

    .form-checkbox__input:checked + .form-checkbox__checkmark::before{
        align-self: flex-end;
        background: $primaryGradient;
    }

    .form-checkbox__text{
        line-height: rem(18px);
        margin-top: 0;
    }

}

