@import './_rich/form-checkbox_rich';

.form-checkbox__input{
    display: none;
}

.form-checkbox__label{
    color: $darkShade50;
    font-weight: 100;
    position: relative;
    padding-left: 30px;
    display: inline-block;
    line-height: 20px;

    &:hover{
        cursor: pointer;
    }
}

.form-checkbox__checkmark{
    position: absolute;
    display: flex;
    @include size(20px);
    border: 1px solid $darkShade25;
    border-radius: 4px;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.form-checkbox__input:not(:checked) + .form-checkbox__checkmark::before{
    display: none;
}

.form-checkbox__input:checked + .form-checkbox__checkmark{
    border-color: $mainColor;

    &::before{
        content: '';
        display: block;
        background: url('/assets/img/check-icon.png') 0 0 no-repeat;
        margin-bottom: 1px;
        width: 10px;
        height: 11px;
    }
}

