.form-checkbox__input{
    display: none;
}

.form-checkbox__label{
    @extend %form-input-label;
}

.form-checkbox__checkmark{
    @extend %form-input-checkmark;
}

.form-checkbox__icon{
    @include size(10px, 12px);
}

.form-checkbox__icon{
    display: none;
}

.form-checkbox__input:checked + .form-checkbox__checkmark{
    border-color: $mainColor;

    .form-checkbox__icon{
        display: block;
    }
}

.form-checkbox__text-container{
    display: flex;
    flex-direction: column;
}

.form-checkbox__text{
    display: flex;
    line-height: rem(20px);
    margin-top: 1px;
}

