@import './_expandable/form-group_expandable_close.scss';
@import './_expandable/form-group_expandable_expanded.scss';

.form-group{
    margin-bottom: 40px;
    max-width: $maxElemWidth;
}

.form-group__label{
    @extend %form-elem-label;
    margin-bottom: 9px;
    padding-right: 16px;
}

.form-group_elems-container > * {
    margin-bottom: 7px;
    margin-right: 20px;
}

.form-group__expand-arrow{
    float: right;
}

.form-group_expandable_close,
.form-group_expandable_expanded{

    & .form-group__label:hover{
        cursor: pointer;
    }

}