mixin form-group(obj)
    - 
        var label = obj.label ? obj.label : '';
        var elems = obj.elems ? obj.elems : [];
        var expandableClass = '';
        if(obj.expandable){
            expandableClass = obj.expanded ? ' form-group_expandable_expanded' : ' form-group_expandable_close';
        }
        
    div(class='form-group' + expandableClass, style!=attributes.style)
        label.form-group__label= label
            if obj.expandable
                span.form-group__expand-arrow
                    svg(width="12" height="8" viewBox="0 0 12 8" fill="none")
                        path(d="M10.5938 0.57812L12 1.98437L6 7.98437L3.49418e-06 1.98437L1.40625 0.578122L6 5.17187L10.5938 0.57812Z" fill="#1F2041" fill-opacity="0.5")
        .form-group_elems-container
            if block
                block