@import './_expandable/form-group_expandable_close.scss';
@import './_expandable/form-group_expandable_expanded.scss';

.form-group__label-wrapper{
    //margin-bottom: 9px;
    //padding-right: 9px;
}

.form-group__label-wrapper_margin{
    margin-bottom: 9px;
}

.form-group_elems-container{

    .form-checkbox {
        margin-top: 7px;
        //margin-right: 20px;

        &:first-child{
            margin-top: 0;
        }
    }

    .form-group__elem-row{
        display: flex;
        width: 100%;
        margin-top: 10px;

        &:first-child{
            margin-top: 0;
        }
    }

    .form-radio,
    .form-button-rate{
        margin-right: 20px;
    }

    .form-button-like {
        margin-right: 10px;
    }

    &> *:first-child:not(.form-input),
    &> *:first-child:not(.form-datepicker){
        //margin-top: 9px;
    }

} 

.form-group__expand-arrow{
    float: right;
    color: $darkShade50;
}