block variables

include ../toxin-logo/toxin-logo
include ../icons/icons

doctype html
html(lang=en)
    head
        meta(charset='urf=8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="")
        meta(name="keywords" content="")
        title #{title}
        block head

    body(class=pageClass)
        .site-icons
            +icons-define
        header.ui-kit-header
            +toxin-logo({theme: 'gray'})
            block header-content
        block content

        block script
