mixin form-button-rate(obj)
    - 
        var btnName = obj.name ? obj.name : 'button-rate-first';
        var value = obj.value ? +obj.value : 0;
        var labelMainClass = 'form-button-rate__star-elem';
    .form-button-rate
        - for (var i = 5; i > 0; i--) 
            - labelClass = value==i ? labelMainClass + ' form-button-rate__star-elem_checked' : labelMainClass;
                label(class=labelClass)
                    input.form-button-rate__input(type='radio' value=i name=btnName)
                    svg.form-button-rate__icon
                        use.form-button-rate__icon-empty(xlink:href='#icon-star-empty')
                        use.form-button-rate__icon-fill(xlink:href='#icon-star')
