.form-button-rate{
    display: inline-flex;
    flex-direction: row-reverse;
}

.form-button-rate__star-elem{
    display: flex;

    &:hover{
        cursor: pointer;
    }
}

.form-button-rate__icon-empty,
.form-button-rate__icon-fill{
    @include icon-gradient;
}

.form-button-rate__input{
    display: none;
}

.form-button-rate__icon-fill{
    display: none;
}

.form-button-rate__star-elem_checked{

    .form-button-rate__icon-fill,
    & ~ .form-button-rate__star-elem .form-button-rate__icon-fill{
        display: inline;
    }

    .form-button-rate__icon-empty,
    & ~ .form-button-rate__star-elem .form-button-rate__icon-empty{
        display: none;
    }
}
