.main-menu__list{
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $tableWidth) {
        justify-content: center;
    }
}

.main-menu__list-elem{
    display: inline-flex;
    margin-right: 30px;
    align-items: center;

    &:last-child{
        margin-right: 0;
    }

    &:hover{
        cursor: pointer;
    }

    @media (max-width: $tableWidth) {
        margin-bottom: 10px;
    }
}

.main-menu__list-elem_type_submenu{
    margin-right: 20px;
    position: relative;
}

.main-menu__list-elem-text,
.main-menu__list-elem-link,
.main-menu__expand-more-icon{
    color: $darkShade50;
}


.main-menu__expand-more-icon{
    height: 22px;
}

.main-menu__list-elem_active{
    .main-menu__list-elem-link{
        color: $darkShade75;
        font-weight: bold;
    }
}

.main-menu__submenu-list{
    position: absolute;
    top: 34px;
    left: -14px;
    background: white;
    z-index: 1;
    display: none;
    box-shadow: 0 10px 11px 0px #e6e6e6;

    .main-menu__list-elem-link{
        white-space: nowrap;
        padding: 7px 14px;
        display: block;
    }
}

.main-menu__list-elem_submenu_shown{
    .main-menu__submenu-list{
        display: block;
    }
}