@import './_mode/form-input_mode_subscription';
@import './_mode/form-input_mode_dropdown.scss';

.form-input__container{
    position: relative;
}

.form-input{
    margin-bottom: 16px;
}

.form-input__input{
    border: 1px solid $darkShade25;
    padding: 13px 15px;
    border-radius: 4px;
    width: 100%;
    line-height: 16px;

    &:hover,
    &:focus{
        border-color: $darkShade50;
    }
}

.form-input__icon{
    padding: 10px;
    position: absolute;
    right: 0;

    &:hover{
        cursor: pointer;
    }
}