+page-footer({
    description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
    navColumns: [
        {   
            header: 'Навигация',
            links: [
                {text: 'О нас', link: '/change-me.html'},
                {text: 'Новости', link: '/change-me.html'},
                {text: 'Служба поддержки', link: '/change-me.html'},
                {text: 'Услуги', link: '/change-me.html'},
            ]
        },
        {   
            header: 'О нас',
            links: [
                {text: 'О сервисе', link: '/change-me.html'},
                {text: 'Наша команда', link: '/change-me.html'},
                {text: 'Вакансии', link: '/change-me.html'},
                {text: 'Инвесторы', link: '/change-me.html'},
            ]
        },
        {   
            header: 'Служба поддержки',
            links: [
                {text: 'Соглашения', link: '/change-me.html'},
                {text: 'Сообщества', link: '/change-me.html'},
                {text: 'Связь с нами', link: '/change-me.html'},
            ]
        },
    ],
    subscribe: {
        title: 'Подписка',
        description: 'Получайте специальные предложения и новости сервиса',
        inputPlaceholder: 'Email'
    },
    instagram: '/change-me.html',
    facebook: '/change-me.html',
    twitter: '/change-me.html',
    copyright: 'Copyright © 2018 Toxin отель. Все права защищены.'
})