+page-header({
    buttonLoginText: 'Войти',
    buttonRegisterText: 'Зарегистрироваться',
    menuItemMarginSize: 'medium',
    menuItems: [
        {text: 'О нас', link: '/change-me.html'},
        {text: 'Услуги', link: '/change-me.html',
            submenu: [
                {text: 'Бронирование номеров', link: '/change-me.html'},
                {text: 'Аренда залов', link: '/change-me.html'}
            ]
        },
        {text: 'Вакансии', link: '/change-me.html'},
        {text: 'Новости', link: '/change-me.html'},
        {text: 'Соглашения', link: '/change-me.html', 
            submenu: [
                {text: 'Политика конфеденциальности', link: '/change-me.html'},
                {text: 'Публичная оферта', link: '/change-me.html'},
            ]
        },
    ]
})