.form-button-like_liked{

    border-color: $mainColor;

    .form-button__icon-fill{
        display: inline;
        color: $mainColor;
    }

    .form-button__icon-empty{
        display: none;   
    }
}