include ../card/card 
include ../form-group/form-group
include ../form-input/form-input 
include ../form-radio-buttons/form-radio-buttons
include ../form-checkbox/form-checkbox
include ../form-button/form-button

mixin card-registration
    .card-registration
        +card({header: 'Регистрация аккаунта'})
            form.card-registration__form
                .card-registratoin__top-container
                    +form-group
                        .form-group__elem-row
                            +form-input({placeholder: 'Имя', name: 'firstname'})
                        .form-group__elem-row
                            +form-input({placeholder: 'Фамилия', name: 'lastname'})
                        .form-group__elem-row
                            +form-radio-buttons({
                                name: 'sex',
                                elems: [
                                    {label: 'Mужчина', value: 'man', checked: true},
                                    {label: 'Женщина', value: 'woman'}
                                ]
                            })

                +form-group({label: 'Дата рождения'})
                    +form-input({mode: 'mask', placeholder: 'ДД.ММ.ГГГГ', mask: '00.00.0000', label: 'Дата рождения', name: 'birthdate'})
                
                +form-group({label: 'Данные для входа в сервис'})
                    .form-group__elem-row
                        +form-input({type: 'email', placeholder: 'Email', name: 'email'})
                    .form-group__elem-row
                        +form-input({type: 'password', placeholder: 'Пароль', name: 'password'})
                    .form-group__elem-row
                        +form-checkbox({label: 'Получать спецпредложения', mode: 'toggle', checked: false})

                .card-registration__paymet-button
                    +form-button({theme: 'fullwidth', text: 'Перейти к оплате'})

                .card-registation__footer-wrapper
                    +card-footer({text: 'Уже есть аккаунт на Toxin', buttonText: 'Войти'})