mixin card(options={})
    -
        var header = options.header ? options.header : '';
    section.card
        if header
            .card__header= header
        if block
            .card__container
                block