mixin card(options={})
    -
        var header = options.header ? options.header : '';
    .card
        if header
            h1.card__header= header
        if block
            .card__container
                block