/* Мontserrat */
@font-face {
	font-family: 'Мontserrat';
    src: 
        url('../fonts/montserrat/montserrat.woff') format('woff'), 
        url('../fonts/montserrat/montserrat.ttf') format('truetype'), 
        url('../fonts/montserrat/montserrat.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Quicksand */

@font-face {
	font-family: 'Quicksand';
    src: 
        url('../fonts/quicksand/quicksandregular.woff') format('woff'), 
        url('../fonts/quicksand/quicksandregular.ttf') format('truetype'), 
        url('../fonts/quicksand/quicksandregular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
    src: 
        url('../fonts/quicksand/quicksandbold.woff') format('woff'), 
        url('../fonts/quicksand/quicksandbold.ttf') format('truetype'), 
        url('../fonts/quicksand/quicksandbold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
