// Font
$mainFont                : 'Ðœontserrat', Helvetica, Arial, sans-serif;

// colors
$darkShade100           : #1F2041;
$darkShade75            : rgba(31, 32, 65, 0.75);
$darkShade50            : rgba(31, 32, 65, 0.5);
$darkShade25            : rgba(31, 32, 65, 0.25);
$darkShade10            : rgba(31, 32, 65, 0.1);
$darkShade5             : rgba(31, 32, 65, 0.05);
$mainColor              : #BC9CFF;
$seconColor             : #6FCF97;

$primaryGradient        : linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$primaryGradient05      : linear-gradient(180deg, #ddcdfe 0%, #c5d1fc 100%);
$secondaryGradient      : linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);



$mainFontColor          : $darkShade75;
$headerFontColor        : $darkShade100;
$mainFontSize           : 14px;
$mainFontWeight         : normal;
$mainLineHeight         : 24px;

$desktopWidth            : 1160px; 
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

$maxElemWidth           : 266px;


// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;