extends ../blocks/ui-kit-layout/ui-kit-layout 
include ../blocks/blocks

block variables
    - 
        var title = 'Cards';
        var pageClass = 'ui-kit__body_bg_gray';

block content
    .flex(style="margin-top: 73px;")
        div
            div(style="margin-bottom: 40px")
                +card-search-room
            div(style="margin-bottom: 100px")
                +card-registration
        div 
        div 