extends ../blocks/ui-kit-layout/ui-kit-layout 
include ../blocks/ui-kit-color/ui-kit-color

block variables
    - var title = 'Colors&Type'

block content
    +ui_kit_color('Dark Shade 100%', '#1F2041', '#1F2041')
    +ui_kit_color('Dark Shade 75%', '#1F2041', 'rgba(31, 32, 65, 0.75)')
    +ui_kit_color('Dark Shade 50%', '#1F2041', 'rgba(31, 32, 65, 0.5);')
    +ui_kit_color('Dark Shade 25%', '#1F2041', 'rgba(31, 32, 65, 0.25);')
    +ui_kit_color('Dark Shade 5%', '#1F2041', 'rgba(31, 32, 65, 0.05);')
    +ui_kit_color('Purple', '#BC9CFF', '#BC9CFF')
    +ui_kit_color('Green 100%', '#6FCF97', '#6FCF97')


