extends ../blocks/ui-kit-layout/ui-kit-layout 
include ../blocks/blocks

block variables
    - var title = 'Form Elements'

block content           
    .content-col(style='margin-right: 126px;')
        +form-input({type: 'email', placeholder: 'Email', label: 'Text field', hint: 'Default'})
        +form-input({type: 'text', placeholder: 'Type text', label: 'Text field', value: 'This is pretty awesome', hint: 'Hover / focus'})
        div пусть

        +form-group({label: 'expandable checkbox list', expandable: true})
            +form-checkbox({label: 'Завтрак'})
            +form-checkbox({label: 'Письменный стол'})
            +form-checkbox({label: 'Кроватка'})

        +form-group({label: 'expandable checkbox list', expandable: true, expanded: true})
            +form-checkbox({label: 'Завтрак'})
            +form-checkbox({label: 'Письменный стол', checked: true})
            +form-checkbox({label: 'Стул для кормления', checked: true})
            +form-checkbox({label: 'Кроватка', checked: true})
            +form-checkbox({label: 'Телевизор'})
            +form-checkbox({label: 'Шампунь'})
            +form-checkbox({label: 'Телевизор'})
            +form-checkbox({label: 'Шампунь'}) 

    .content-col(style='margin-right: 72px;')

        +form-group({label: 'Checkbox buttons'})(style="margin-bottom: 36px;")
            +form-checkbox({label: 'Можно курить'})
            +form-checkbox({label: 'Можно с питомцами', checked: true})
            +form-checkbox({label: 'Можно пригласить гостей <br/>(до 10 человек)', checked: true})

        +form-group({label: 'Radio buttons'})
            +form-radio({label: 'Mужчина', value: 'men', name: 'sex', checked: true})
            +form-radio({label: 'Женщина', value: 'women', name: 'sex'})

        +form-group({label: 'Toggle'})(style="margin-bottom: 28px;")
            +form-checkbox({label: 'Получать спецпредложения', theme: 'toggle', checked: true})
            +form-checkbox({label: 'Получать спецпредложения', theme: 'toggle'})

        +form-group({label: 'Rich checkbox buttons'})
            +form-checkbox({label: 'Широкий коридор', rich: true, descr: 'Ширина коридоров в номере<br/> не менее 91 см'})
            +form-checkbox({label: 'Помощник для инвалидов', rich: true, descr: 'На 1 этаже вас встретит специалист<br/> и проводит до номера.'})

        


    .content-col 22