extends ../blocks/ui-kit-layout/ui-kit-layout 
include ../blocks/blocks

block variables
    - var title = 'Form Elements'

block content
    +icons-define

    //svg
    //    use(xlink:href='#icon-smile')
    //svg
        use(xlink:href='#icon-city')

    //i.material-icons face
    //i.material-icons(style="color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);") insert_emoticon


    div(style='width: 320px; margin-right: 170px')
        +form-input({type: 'email', placeholder: 'Email', label: 'Text field', hint: 'Default'})
        +form-input({type: 'text', placeholder: 'Type text', label: 'Text field', value: 'This is pretty awesome', hint: 'Hover / focus'})
        +form-input({mask: 'дд.мм.гггг', label: 'Masked text field', hint: 'Default'})
        +form-input({mode: 'subscription', type: 'email', label: 'subscription text field', placeholder: 'email'})

        div(style="width: 266px")
            +form-input({mode: 'dropdown', label: 'dropdown', placeholder: 'Комнаты', hint: 'Expanded',
                dropdownElems: [
                    {title: 'Спальни', name: 'bedrooms', count: 2},
                    {title: 'Кровати', name: 'beds', count: 2},
                    {title: 'Ванные комнаты', name: 'bathrooms'}
                ]
            })

        +form-group({label: 'expandable checkbox list', expandable: true})
            +form-checkbox({label: 'Завтрак'})
            +form-checkbox({label: 'Письменный стол'})
            +form-checkbox({label: 'Кроватка'})

        +form-group({label: 'expandable checkbox list', expandable: true, expanded: true})(style="margin-bottom: 18px;")
            +form-checkbox({label: 'Завтрак'})
            +form-checkbox({label: 'Письменный стол', checked: true})
            +form-checkbox({label: 'Стул для кормления', checked: true})
            +form-checkbox({label: 'Кроватка', checked: true})
            +form-checkbox({label: 'Телевизор'})
            +form-checkbox({label: 'Шампунь'})
            +form-checkbox({label: 'Телевизор'})
            +form-checkbox({label: 'Шампунь'}) 

        +advantages-list({list: [
            {icon: 'insert_emoticon', title: 'Комфорт', descr: 'Шумопоглощающие стены'},
            {icon: 'location_city', title: 'Удобство', descr: 'Окно в каждой из спален'}
        ]})

    .content-col

        +comment({
            authorPhoto: '/assets/img/comment-man1.png',
            authorName: 'Мурад Сарафанов',
            date: '5 дней назад',
            likeCount: 12,
            liked: true,
            text:   `Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
                    И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — 
                    никто не жаловался из соседей.`
        })
    
        .content-col(style)

            +form-group({label: 'Checkbox buttons'})(style="margin-bottom: 36px;")
                +form-checkbox({label: 'Можно курить'})
                +form-checkbox({label: 'Можно с питомцами', checked: true})
                +form-checkbox({label: 'Можно пригласить гостей <br/>(до 10 человек)', checked: true})

            +form-group({label: 'Radio buttons'})(style="margin-bottom: 28px;")
                +form-radio({label: 'Mужчина', value: 'men', name: 'sex', checked: true})
                +form-radio({label: 'Женщина', value: 'women', name: 'sex'})

            +form-group({label: 'Toggle'})
                +form-checkbox({label: 'Получать спецпредложения', mode: 'toggle', checked: true})
                +form-checkbox({label: 'Получать спецпредложения', mode: 'toggle'})

            +form-group({label: 'Like button'})(style="margin-bottom: 29px;")
                +form-button-like({likeCount: 2})(style="margin-right: 10px")
                +form-button-like({likeCount: 12, liked: true})

            +form-group({label: 'Rate button'})
                +form-button-rate({value: 4})
                +form-button-rate({value: 5})

            +form-group({label: 'Rich checkbox buttons'})
                +form-checkbox({label: 'Широкий коридор', mode: 'rich', descr: 'Ширина коридоров в номере<br/> не менее 91 см'})
                +form-checkbox({label: 'Помощник для инвалидов', mode: 'rich', descr: 'На 1 этаже вас встретит специалист<br/> и проводит до номера.'})

        .content-col 

            +form-group({label: 'Buttons'})
                div(style="margin-bottom: 33px;")
                    +form-button({text: 'Click me'})(style="margin-right: 20px")
                    +form-button()
                div(style="margin-bottom: 27px;")
                    +form-button({theme: 'ghost'})(style="margin-right: 20px")
                    +form-button({theme: 'ghost'})
                div(style="margin-bottom: 27px;")
                    +form-button({theme: 'simple'})(style="margin-right: 20px")
                    +form-button({theme: 'simple'})
                div(style="margin-right: 0")
                    +form-button({theme: 'fullwidth', text: 'Перейти к оплате'})

            +form-group({label: 'Bullet list'})
                +bullet-list([
                    'Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а выезд до 12:00'
                ])