extends ../blocks/ui-kit-layout/ui-kit-layout 
include ../blocks/blocks

block variables
    - 
        var title = 'Headers and footers';
        var pageClass = 'ui-kit__body_bg_gray page-haf';


block content
    -
        var menuItems = [
            {text: 'Home', link: '/change-me.html', active: true},
            {text: 'About Us', link: '/change-me.html'},
            {text: 'Services', link: '/change-me.html', 
                submenu: [
                    {text: 'First Service', link: '/change-me.html'},
                    {text: 'Second Service', link: '/change-me.html'},
                    {text: 'Third Our Service', link: '/change-me.html'},
                ]
            },
            {text: 'Careers', link: '/change-me.html'},
            {text: 'News', link: '/change-me.html'},
            {text: 'Documentation', link: '/change-me.html'},
        ];

    .page-haf__elem-wrapper
        +page-header({
            menuItems: menuItems
        })
    .page-haf__elem-wrapper
        +page-header({
            authUser: 'Cosmin Negoita',
            menuItems: menuItems
        })

    .page-haf__elem-wrapper
        +page-footer({
            description: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
            navColumns: [
                {   
                    header: 'Navigation',
                    links: [
                        {text: 'About Us', link: '/change-me.html'},
                        {text: 'News', link: '/change-me.html'},
                        {text: 'Support', link: '/change-me.html'},
                        {text: 'Products', link: '/change-me.html'},
                    ]
                },
                {   
                    header: 'About Us',
                    links: [
                        {text: 'Who we are', link: '/change-me.html'},
                        {text: 'Our team', link: '/change-me.html'},
                        {text: 'Careers', link: '/change-me.html'},
                        {text: 'Investors', link: '/change-me.html'},
                    ]
                },
                {   
                    header: 'Support',
                    links: [
                        {text: 'Documentation', link: '/change-me.html'},
                        {text: 'Community', link: '/change-me.html'},
                        {text: 'Get in Touch', link: '/change-me.html'},
                    ]
                },
            ],
            subscribe: {
                title: 'Subscribe to our newsletter',
                description: 'Receive our latest news and promotions in your inbox!',
                inputPlaceholder: 'Your email address'
            },
            instagram: '/change-me.html',
            facebook: '/change-me.html',
            twitter: '/change-me.html',
            copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
        })

    .page-haf__elem-wrapper
        +page-footer({
            theme: 'simple',
            description: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
            instagram: '/change-me.html',
            facebook: '/change-me.html',
            twitter: '/change-me.html',
            copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
        })