extends ../blocks/ui-kit-layout/ui-kit-layout 
include ../blocks/blocks

block variables
    - 
        var title = 'Headers and footers';
        var pageClass = 'ui-kit__body_bg_gray page-haf';


block content
    .page-haf__elem-wrapper
        +page-header({
            menuItems: [
                {text: 'Home', active: true},
                {text: 'About Us'},
                {text: 'Services', submenu: true},
                {text: 'Careers'},
                {text: 'News'},
                {text: 'Documentation'},
            ]
        })
    .page-haf__elem-wrapper
        +page-header({
            authUser: 'Cosmin Negoita',
            menuItems: [
                {text: 'Home', active: true},
                {text: 'About Us'},
                {text: 'Services', submenu: true},
                {text: 'Careers'},
                {text: 'News'},
                {text: 'Documentation'},
            ]
        })