extends ../layouts/page-layout  

block variables
    -
        title = 'Landing Page';

block content
    .langind-container
        +card-search-room
        .landing-container_subtitle Лучшие номера для вашей работы, отдыха и просто вдохновения