
.page-footer{
    background: white;
}

.page-footer__wrapper{
    @extend .container;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: $tableWidth){
        flex-direction: column;
        align-items: center;
    }
}

.page-footer__top-container,
.page-footer__bottom-container{
    display: flex;
}

.page-footer__top-container{
    padding: 100px 0 97px 0;

    .page-footer__wrapper{
        justify-content: space-between;
    }
}

.page-footer__bottom-container{
    border-top: 1px solid $darkShade10;
    padding: 23px 0;

    .page-footer__wrapper{
        justify-content: space-between;
        align-items: center;
    }
}

.page-footer__company-info-container{
    width: 25.5%;
    padding-right: 20px;

    @media (max-width: $smDesktopWidth){
        width: 100%;
        margin-bottom: 40px;
    }

}


.page-footer__nav-menu-container{
    width: 51.2%;

    @media (max-width: $smDesktopWidth) {
        width: 100%;
        margin-bottom: 40px;
    }
}

.page-footer__subscribe-container{
    width: 22.42%;
    

    @media (min-width: $tableWidth) and (max-width: $smDesktopWidth){
        width: 50%;
    }

    @media (max-width: $tableWidth){
        width: 100%;
    }
}

.page-footer__copyright{
    @media (max-width: $tableWidth){
        margin-bottom: 20px;
    }
}
