mixin form-button-like(obj={})
    - 
        var likeCount = obj.likeCount ? obj.likeCount : 0;
        var likedClass = obj.liked ? 'form-button-like_liked' : '';

    button(class='form-button-like ' + likedClass)&attributes(attributes)
        svg.form-button-like__icon
            use.form-buttom__icon-empty(xlink:href='#icon-heart-empty')
            use.form-buttom__icon-fill(xlink:href='#icon-heart')
        .form-button-like__count= likeCount
