mixin form-button-like(obj={})
    - 
        var likeCount = obj.likeCount ? obj.likeCount : 0;
        var likedClass = obj.liked ? 'form-button-like_liked' : '';

    button(class='form-button-like ' + likedClass)&attributes(attributes)
        i.material-icons.form-button__icon-empty favorite_border
        i.material-icons.form-button__icon-fill favorite
        span.form-button-like__count= likeCount
