$btnLikeBaseColor   : $darkShade25;

.form-button-like{
    display: inline-flex;
    border: 1px solid $btnLikeBaseColor;
    border-radius: 10px;
    background: none;
    color: $btnLikeBaseColor;
    line-height: 14px;
    padding: 2px 0 2px 4px;
    align-items: center;
    width: 40px;

    &:hover{
        cursor: pointer;
    }
}

.form-button__icon-empty,
.form-button__icon-fill{
    font-size: rem(10px);
    margin-right: 7px;
    color: $btnLikeBaseColor;
}

.form-button__icon-fill{
    display: none;
}

.form-button-like__count{
    font-size: rem(10px);
}

