mixin gradient-star
    svg(style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false")
        defs
            lineargradient#gradient-star(x1='10', y1='-2', x2='10', y2='22', gradientUnits='userSpaceOnUse')
                stop(stop-color='#BC9CFF')
                stop(offset='1', stop-color='#8BA4F9')