mixin gradient-main
    svg(style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false")
        defs
            lineargradient#gradient_main(x1='20', y1='-4', x2='20', y2='44', gradientUnits='userSpaceOnUse')
                stop(stop-color='#BC9CFF')
                stop(offset='1', stop-color='#8BA4F9')