include ./gradient-main
include ./gradient-star
include ./icon-logo_gray
include ./icon-check
include ./icon-arrow-right
include ./icon-heart-empty
include ./icon-heart
include ./icon-star-empty
include ./icon-star
include ./icon-smile
include ./icon-city

mixin icons-define 
    +gradient-main
    +gradient-star
    +icon-check
    +icon-arrow-right
    +icon-heart-empty
    +icon-heart
    +icon-star
    +icon-star-empty
    +icon-smile
    +icon-city