.sign-in-container{
    display: flex;
    min-height: 684px;
    background: url($assetsPath + '/img/login-bg.png') center center no-repeat;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 30px 0 25px 0;

    .card-sign-in{
        margin-bottom: 6px;
    }
}