.ui-kit__body_bg_gray{
    background: #f4f4f6;
}


.ui-kit-header{
    margin: 30px 30px 61px 30px; 
}

.ui-kit-color-examples,
.ui-kit-text-examples{
    margin-top: 7px;
    width: 49%;

    @media (max-width: $tableWidth){
        width: 100%;
    }
}

.ui-kit-text-examples{
    padding-left: 138px;

    @media (max-width: $smDesktopWidth){
        padding-left: 0;
    }

    .t-cell{
        padding-bottom: 50px;
    }

    .t-cell:first-child{
        font-weight: 100;
        text-align: right;
        padding-right: 30px;
        color: $darkShade25;
    }

    .t-cell:first-child{
        &>h1,
        &>h2,
        &>h3{
            color: $darkShade25;
        font-family: $mainFont;
        font-weight: 100;
        text-transform: uppercase;
        }
    }
    
}

/*
.ui-kit-text-examples .t-cell{
    padding-bottom: 50px;
}

.ui-kit-text-examples .t-cell:first-child{
    font-weight: 100;
    text-align: right;
    padding-right: 30px;
    color: $darkShade25;
}

.ui-kit-text-examples .t-cell:first-child > h1,
.ui-kit-text-examples .t-cell:first-child > h2,
.ui-kit-text-examples .t-cell:first-child > h3{
    color: $darkShade25;
    font-family: $mainFont;
    font-weight: 100;
    text-transform: uppercase;
}
*/