mixin form-button(obj={})
    - 
        var text = obj.text ? obj.text : 'Click me';
        var themeClass = obj.theme ? `form-button_theme_${obj.theme}` : '';
        var iconID = obj.iconID ? obj.iconID : 'icon-arrow-right';

    button(class='form-button ' + themeClass)&attributes(attributes)
        span.from-button__text= text
        if obj.theme=='fullwidth'
            svg.form-button__icon
                use(xlink:href='#'+iconID)
