.form-button{
    position: relative;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: rem(12px);
    font-weight: bold;
    padding: 2px;
    background: $primaryGradient;
    border-radius: 22px;

    &:hover{
        cursor: pointer;
        background: $primaryGradient05;
    }
}

.from-button__text{
    //padding: 13px 16px;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    line-height: rem(24px);
    position: relative;
}
