.form-button{
    position: relative;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 0.82rem;
    font-weight: bold;
    padding: 15px 21px;
    background: $primaryGradient;
    border-radius: 22px;

    &:hover{
        cursor: pointer;
        background: $primaryGradient05;
    }
}

.from-button__text{
    display: inline-block;
}