@import '../../../node_modules/jquery-ui-slider/jquery-ui.css';

.slider-range__slider{
    height: 6px;
    margin-top: 18px;

    .ui-slider-range,
    .ui-slider-handle{
        background: $secondaryGradient;
    }

    .ui-slider-handle{
        @include size(13px);
        border-radius: 50%;
        border: none;
        box-shadow: 0 0 0px 2px white;

        &:hover{
            cursor: pointer;
        }
    }

}

.slider-range__description{
    font-size: rem(12px);
    color: darkShade50;
    line-height: rem(14px);
    margin-top: 15px;
}