mixin form-radio-buttons(obj)
    -
        var name = obj.name ? obj.name : '';
        var elems = obj.elems ? obj.elems : [];

    .form-radio-buttons
        for elem in elems
            .form-radio
                label.form-radio__label !{elem.label}
                    input.form-radio__input(type='radio', value=elem.value, name=name, checked=elem.checked)
                    .form-radio__checkmark