.form-radio-buttons{
    line-height: 21px;
}

.form-radio{
    display: inline-flex;
}

.form-radio__input{
    display: none;
}

.form-radio__label{
    @extend %form-input-label;
}

.form-radio__checkmark{
    @extend %form-input-checkmark;
    border-radius: 50%;
}

.form-radio__input:checked + .form-radio__checkmark{
    border-color: $mainColor;

    &::before{
        content: '';
        display: block;
        background: $primaryGradient;
        @include size(12px);
        border-radius: 50%;
    }
}