/*
.comment__author-info{
    margin-bottom: 10px;
}

.comment__author-photo{
    @include size(48px);
    float: left;
    background-position: center center;
    margin: 0 11px 0 0;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 10px 20px $darkShade10;
}

.comment__author-name{
    font-weight: bold;
}

.comment__like-button-wrap{
    margin-left: 3px; // 5
    margin-right: 13px;
}

.comment__content{
    display: flex;
} */

.comment{
    display: table;
}

.comment__author-info,
.comment__content{
    display: table-row;
}

.comment__author-photo-container,
.comment__autor-name-container,
.comment__like-button-container,
.comment__text{
    display: table-cell;
    vertical-align: top;
}

.comment__author-photo-container{
    padding: 0 9px 10px 0;
}

.comment__author-photo{
    @include size(48px);
    background-position: center center;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 10px 20px $darkShade10;
}

.comment__author-name{
    font-weight: bold;
}

.comment__like-button-container{
    padding-left: 3px;
}
