include ./icons/icons
include ./ui-kit-color/ui-kit-color
include ./form-label/form-label
include ./form-input/form-input
include ./form-checkbox/form-checkbox
include ./form-radio-buttons/form-radio-buttons
include ./form-group/form-group
include ./bullet-list/bullet-list 
include ./form-button/form-button
include ./form-button-like/form-button-like
include ./form-button-rate/form-button-rate
include ./advantages-list/advantages-list
include ./comment/comment
include ./form-dropdown/form-dropdown
include ./pagination/pagination
include ./range-slider/range-slider
include ./form-datepicker/form-datepicker
include ./card/card
include ./card-search-room/card-search-room
include ./card-registration/card-registration