@import '../card/card.scss';
@import '../form-group/form-group.scss';
@import '../form-datepicker/form-datepicker.scss';
@import '../form-input/form-input.scss';
@import '../form-button/form-button.scss';

.card-search-room{

    @media (max-width: $tableWidth){
        display: flex;
        justify-content: center;
    }
}

.card-search-room__button{
    margin-top: 32px;
}