.form-button_theme_fullwidth {

    //$iconSize:  rem(24px);

    width: 100%;
    //display: flex;
    //flex-direction: row;
    //align-items: center;
    //padding: rem(10px);

    .from-button__text{
        //margin-left: auto;
        //margin-right: -$iconSize;

        /*@media (max-width: $phoneWidth){
            margin-right: auto;
        }*/
    }

    .form-button__icon{
        //margin-left: auto;
        position: absolute;
        right: 8px;
        font-size: rem(24px);

        @media (max-width: $phoneWidth){
            display: none;
        }
    }
}