.form-button_theme_ghost{

    color: $mainColor;
    padding: 2px;

    .from-button__text{
        background: white;
        padding: 13px 16px;
        border-radius: 22px;
        min-width: 95px;
    }
}

