.form-button_theme_fullwidth {

    $iconSize:  rem(24px);

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    .from-button__text{
        margin-left: auto;
        margin-right: -$iconSize;
    }

    .form-button__icon{
        @include size($iconSize);
        margin-left: auto;
    }
}